# Домашнее задание 2. Аэропорты. File-2
### Панкратов Никита

### Импортируем необходимые для работы библиотеки (впоследствии будет импорт езе одной и если она отсутсвует на Вашем ПК, нужно будет установить ее, соотвествующий блок кода, будет представлен перед ее import-ом)

In [1]:
import pandas as pd
import numpy as np

### Считываем данные

In [2]:
airport_row = pd.read_csv('https://raw.githubusercontent.com/jpatokal/openflights/master/data/airports.dat', 
                          names=['Airport_ID', 'Name', 'City', 'Country', 'IATA', 'ICAO', 'Latitude', 'Longitude', 'Altitude',
                                  'Timezone', 'DST', 'Tz_database_time_zone', 'Type', 'Source'])
airport_row.drop(columns='ICAO', inplace=True)
airport_row.head()

,Airport_ID,Name,City,Country,IATA,Latitude,Longitude,Altitude,Timezone,DST,Tz_database_time_zone,Type,Source
0,1,Goroka Airport,Goroka,Papua New Guinea,GKA,-6.081690,145.391998,5282,10,U,Pacific/Port_Moresby,airport,OurAirports
1,2,Madang Airport,Madang,Papua New Guinea,MAG,-5.207080,145.789001,20,10,U,Pacific/Port_Moresby,airport,OurAirports
2,3,Mount Hagen Kagamuga Airport,Mount Hagen,Papua New Guinea,HGU,-5.826790,144.296005,5388,10,U,Pacific/Port_Moresby,airport,OurAirports
3,4,Nadzab Airport,Nadzab,Papua New Guinea,LAE,-6.569803,146.725977,239,10,U,Pacific/Port_Moresby,airport,OurAirports
4,5,Port Moresby Jacksons International Airport,Port Moresby,Papua New Guinea,POM,-9.443380,147.220001,146,10,U,Pacific/Port_Moresby,airport,OurAirports

In [3]:
rout_row = pd.read_csv('https://raw.githubusercontent.com/jpatokal/openflights/master/data/routes.dat', 
                       names=['Airline', 'Airline_ID', 'Source_airport', 'Source_airport_ID', 'Destination_airport',
                             'Destination_airport_ID', 'Codeshare', 'Stops', 'Equipment'])
rout_row.head()

,Airline,Airline_ID,Source_airport,Source_airport_ID,Destination_airport,Destination_airport_ID,Codeshare,Stops,Equipment
0,2B,410,AER,2965,KZN,2990,NaN,0,CR2
1,2B,410,ASF,2966,KZN,2990,NaN,0,CR2
2,2B,410,ASF,2966,MRV,2962,NaN,0,CR2
3,2B,410,CEK,2968,KZN,2990,NaN,0,CR2
4,2B,410,CEK,2968,OVB,4078,NaN,0,CR2

# Найденные ошибки в данных

### Ошибка №1. Значение '\N' в столбце таблице-1, столбце 'IATA' (была обнаружена на семинаре)
#### Так как мы будем работать только с теми аэропртами, которые иеют три знака (IATA), удалим те, где абревиатура отсутствует

In [4]:
airport_row['IATA'].tail()
airport_row['IATA'] = airport_row['IATA'].replace('\\N', np.nan)
print(airport_row['IATA'].isna().sum())
airport_row.dropna(subset=['IATA'], inplace=True)
airport_row.reset_index(drop=True, inplace=True)
print(airport_row['IATA'].isna().sum())

1626
0

### Ошибка №2. Значение '\\N' в Таблице-2, столбец 'Source_airport_ID' and 'Destination_airport_ID'
#### Меняем на np.NaN

In [5]:
'\\N' in rout_row.Source_airport_ID.unique()
rout_row['Source_airport_ID'] = rout_row['Source_airport_ID'].replace('\\N', np.nan)
#rout_row.head()

In [6]:
'\\N' in rout_row.Destination_airport_ID.unique()
rout_row['Destination_airport_ID'] = rout_row['Destination_airport_ID'].replace('\\N', np.nan)
#rout_row.head()

### Ошибка №3. Неверное указание страны аэропорта (то есть указано одно место, а физически находится в другом). (Политическая составляющая)

In [7]:
airport_row[airport_row.IATA.isin(['KHC', 'SIP', 'UKS'])]

,Airport_ID,Name,City,Country,IATA,Latitude,Longitude,Altitude,Timezone,DST,Tz_database_time_zone,Type,Source
2242,2942,Simferopol International Airport,Simferopol,Ukraine,SIP,45.052200,33.975101,639,3,E,Europe/Simferopol,airport,OurAirports
5025,7863,Belbek Airport,Sevastopol,Ukraine,UKS,44.688999,33.570999,344,3,U,Europe/Simferopol,airport,OurAirports
5056,7963,Kerch Airport,Kerch,Ukraine,KHC,45.372501,36.401402,171,3,E,Europe/Simferopol,airport,OurAirports

In [8]:
for i in airport_row.index:
    if airport_row.IATA[i] in ['KHC', 'SIP', 'UKS']:
        airport_row.iloc[i,3] = 'Russia'
airport_row[airport_row.IATA.isin(['KHC', 'SIP', 'UKS'])]

,Airport_ID,Name,City,Country,IATA,Latitude,Longitude,Altitude,Timezone,DST,Tz_database_time_zone,Type,Source
2242,2942,Simferopol International Airport,Simferopol,Russia,SIP,45.052200,33.975101,639,3,E,Europe/Simferopol,airport,OurAirports
5025,7863,Belbek Airport,Sevastopol,Russia,UKS,44.688999,33.570999,344,3,U,Europe/Simferopol,airport,OurAirports
5056,7963,Kerch Airport,Kerch,Russia,KHC,45.372501,36.401402,171,3,E,Europe/Simferopol,airport,OurAirports

### Ошибка №4. Не указано Tz_database_time_zone, а следовательно и Timezone.

In [9]:
airport_row[airport_row.Tz_database_time_zone=='\\N']

,Airport_ID,Name,City,Country,IATA,Latitude,Longitude,Altitude,Timezone,DST,Tz_database_time_zone,Type,Source
1436,1907,Leeward Point Field,Guantanamo,Cuba,NBW,19.906500,-75.207100,56,-5,U,\N,airport,OurAirports
1485,1966,Tabiteuea North Airport,Tabiteuea North,Kiribati,TBF,-1.224470,174.776001,7,12,U,\N,airport,OurAirports
1489,1971,Rurutu Airport,Rurutu,French Polynesia,RUR,-22.434099,-151.360992,18,-10,U,\N,airport,OurAirports
1494,1976,Reao Airport,Reao,French Polynesia,REA,-18.465900,-136.440002,12,-10,U,\N,airport,OurAirports
1510,1993,Hao Airport,Hao Island,French Polynesia,HOI,-18.074800,-140.945999,10,-10,U,\N,airport,OurAirports
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6067,14097,Bilogai-Sugapa Airport,Sugapa-Papua Island,Indonesia,UGU,-3.739560,137.031998,7348,\N,\N,\N,airport,OurAirports
6068,14100,Ramon Airport,Eilat,Israel,ETM,29.723694,35.011416,288,\N,\N,\N,airport,OurAirports
6069,14101,Rustaq Airport,Al Masna'ah,Oman,MNH,23.640556,57.487500,349,\N,\N,\N,airport,OurAirports
6070,14102,Laguindingan Airport,Cagayan de Oro City,Philippines,CGY,8.612203,124.456496,190,\N,\N,\N,airport,OurAirports
6071,14109,Desierto de Atacama Airport,Copiapo,Chile,CPO,-27.261200,-70.779198,670,\N,\N,\N,airport,OurAirports

### Определим Timezome для каждого пропущенного значения

In [10]:
#!pip install timezonefinder
#!pip install geopy

In [11]:
from geopy.geocoders import Nominatim
from timezonefinder import TimezoneFinder

def Timezone(lad):
    geolocator = Nominatim(user_agent="geoapiExercises")
    location = geolocator.geocode(lad)
    obj = TimezoneFinder()
    try:
        result = obj.timezone_at(lng=location.longitude, lat=location.latitude)
    except:
        return np.NaN
    return result

In [12]:
airport_row

,Airport_ID,Name,City,Country,IATA,Latitude,Longitude,Altitude,Timezone,DST,Tz_database_time_zone,Type,Source
0,1,Goroka Airport,Goroka,Papua New Guinea,GKA,-6.081690,145.391998,5282,10,U,Pacific/Port_Moresby,airport,OurAirports
1,2,Madang Airport,Madang,Papua New Guinea,MAG,-5.207080,145.789001,20,10,U,Pacific/Port_Moresby,airport,OurAirports
2,3,Mount Hagen Kagamuga Airport,Mount Hagen,Papua New Guinea,HGU,-5.826790,144.296005,5388,10,U,Pacific/Port_Moresby,airport,OurAirports
3,4,Nadzab Airport,Nadzab,Papua New Guinea,LAE,-6.569803,146.725977,239,10,U,Pacific/Port_Moresby,airport,OurAirports
4,5,Port Moresby Jacksons International Airport,Port Moresby,Papua New Guinea,POM,-9.443380,147.220001,146,10,U,Pacific/Port_Moresby,airport,OurAirports
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6067,14097,Bilogai-Sugapa Airport,Sugapa-Papua Island,Indonesia,UGU,-3.739560,137.031998,7348,\N,\N,\N,airport,OurAirports
6068,14100,Ramon Airport,Eilat,Israel,ETM,29.723694,35.011416,288,\N,\N,\N,airport,OurAirports
6069,14101,Rustaq Airport,Al Masna'ah,Oman,MNH,23.640556,57.487500,349,\N,\N,\N,airport,OurAirports
6070,14102,Laguindingan Airport,Cagayan de Oro City,Philippines,CGY,8.612203,124.456496,190,\N,\N,\N,airport,OurAirports
6071,14109,Desierto de Atacama Airport,Copiapo,Chile,CPO,-27.261200,-70.779198,670,\N,\N,\N,airport,OurAirports

### P.s. следующая функция работает немного долго! (у меня заняло ~7-8 минут)
#### Идем по всему фрейму и там где Timezone_database - не указана, указываем, используя, написанную выше функцию

In [13]:
for i in airport_row.index:
    if airport_row.Tz_database_time_zone[i] == '\\N':
        airport_row.iloc[i,-3] = Timezone(airport_row.iloc[i,2])
        
airport_row[airport_row.Tz_database_time_zone=='\\N']

Empty DataFrame
Columns: [Airport_ID, Name, City, Country, IATA, Latitude, Longitude, Altitude, Timezone, DST, Tz_database_time_zone, Type, Source]
Index: []

### Теперь вручную проставим оставшиеся пропуски, поскольку в базе данных 'timezonefinder', есть не все города

In [14]:
airport_row[airport_row.Tz_database_time_zone.isna()]

,Airport_ID,Name,City,Country,IATA,Latitude,Longitude,Altitude,Timezone,DST,Tz_database_time_zone,Type,Source
5535,9899,Kokonau Airport,Kokonau,Indonesia,KOX,-4.710750,136.435150,59,9,N,NaN,airport,OurAirports
5603,11021,Bodinumu Airport,Bodinumu,Papua New Guinea,BNM,-9.107778,147.666722,3700,10,N,NaN,airport,OurAirports
5664,11291,Attopeu Airport,Attopeu,Laos,AOU,14.814715,106.821699,344,7,N,NaN,airport,OurAirports
5934,13233,Spartanburg Downtown Memorial Airport,Spartangurg,United States,SPA,34.915699,-81.956497,801,-5,A,NaN,airport,OurAirports
6049,13714,"Paloich Airport, Heliport",Higleig,South Sudan,HGI,10.529167,32.500556,1290,\N,\N,NaN,airport,OurAirports
6067,14097,Bilogai-Sugapa Airport,Sugapa-Papua Island,Indonesia,UGU,-3.739560,137.031998,7348,\N,\N,NaN,airport,OurAirports

#Соответствующие значения подбирались из Интернета

In [15]:
Tz_database_time_zone_list = ['Asia/Jayapura', 'Africa/Johannesburg', 'Asia/Tokyo', 'Pacific/Port_Moresby',
                             'Asia/Vientiane', 'Africa/Cairo', 'Australia/Darwin', 'Pacific/Auckland',
                             'America/New_York', 'America/Paramaribo', 'Africa/Juba', 'Africa/Gaborone',
                             'Africa/Gaborone', 'Asia/Jayapura']

### Заполняем ставшиеся пропуски и смотрим, все ли мы заполнили теперь

In [16]:
for i in airport_row.index:
    if pd.isna(airport_row.Tz_database_time_zone[i]):
        airport_row.iloc[i,-3] = Tz_database_time_zone_list.pop(0)
        
airport_row[airport_row.Tz_database_time_zone.isna()]

Empty DataFrame
Columns: [Airport_ID, Name, City, Country, IATA, Latitude, Longitude, Altitude, Timezone, DST, Tz_database_time_zone, Type, Source]
Index: []

### Ошибка №5. Значения 'Airport_ID' не соовтествуют показателям индексов датафрейма.

### То есть не просто отличаются на +1 как видно в первых 5 строчках, а, допустим, значение ID=118, просто отсутсвует. На самом деле это не критично, но может говорить, возможно, О неполноте имеющейся информации или (в любом случае) ошибка в данных.

In [17]:
airport_row.Airport_ID.unique()[110:120]

array([115, 116, 117, 119, 120, 121, 122, 123, 124, 125], dtype=int64)

#Не думаю, что это нужно как-то устранять, ну при желании можно удалить в общем этот столбец, так как никакой супер важной информации в данном случае он не несет для дальнейшей работы, и при необходимости использовать индексы, либо установить его как index

### Ошибка №6. Не соотвествие аэопрта стране (была обнаружена в file-3 при визуализации расположения аэропортов по континентам).

#Один из таких примеров: Аэропорт 'Oryol Yuzhny Airport' находится в городе Oackley в стране United States, а не в Oryol,Russia (хотя коориднаты имеет аэропорта РФ)

In [18]:
airport_row[airport_row.IATA == 'OEL']
# Остальные строки с ошибкой такого же типа
#airport_row.iloc[5462, :]
#airport_row.iloc[5001, :]
#airport_row.iloc[5013, :]
#airport_row.iloc[5920, :]
#airport_row.iloc[4523, :]

,Airport_ID,Name,City,Country,IATA,Latitude,Longitude,Altitude,Timezone,DST,Tz_database_time_zone,Type,Source
5621,11100,Oryol Yuzhny Airport,Oakley,United States,OEL,52.9347,36.002201,656,-5,A,America/Los_Angeles,airport,OurAirports

##### Так как такая ошибка оказалась не единственной (хотя в общем кол-ве их и не так много), исправим данные вручную

In [19]:
#North America
airport_row.iloc[5621, 3] = 'Russia'
airport_row.iloc[5462, 3] = 'Hungary'

#Europe
airport_row.iloc[5001, 3] = 'United States'
airport_row.iloc[5013, 3] = 'United States'
airport_row.iloc[5920, 3] = 'Saint Helena'

#Oceania
airport_row.iloc[4523, 3] = 'United States'

## К сожалению иных ошибок особенно в файле rout_row (кроме названных выше) не удалось найти. Могу лишь предположить, что они могут быть в столбце 'Stops'.

In [20]:
rout_row.Stops.value_counts()

0    67652
1       11
Name: Stops, dtype: int64

In [21]:
rout_row[rout_row.Stops == 1]

,Airline,Airline_ID,Source_airport,Source_airport_ID,Destination_airport,Destination_airport_ID,Codeshare,Stops,Equipment
2066,5T,1623,YRT,132,YEK,50,NaN,1,ATR
7810,AC,330,ABJ,253,BRU,302,NaN,1,333
8272,AC,330,YVR,156,YBL,30,NaN,1,BEH
17767,CU,1936,FCO,1555,HAV,1909,NaN,1,767
25116,FL,1316,HOU,3566,SAT,3621,NaN,1,735
25220,FL,1316,MCO,3878,HOU,3566,NaN,1,73W
25230,FL,1316,MCO,3878,ORF,3611,NaN,1,717
49746,SK,4319,ARN,737,GEV,715,NaN,1,ATP
63567,WN,4547,BOS,3448,MCO,3878,NaN,1,73W
64042,WN,4547,MCO,3878,BOS,3448,NaN,1,73W
64045,WN,4547,MCO,3878,CAK,4112,NaN,1,73C 73W

## Как видно большинство рейсов не имеют пересадок кроме 11 перелетов. Но чтобы проверить достоверность этого факта, нужно искать соотвествующие базы данных, что сделать у меня не удалось ввиду отсутствия уверенности, что найденные фреймы из Интернета будут полностью достоверные.

# Таким образом, все ошибки можно сгруппировать на 3-4 группы:
#1. Пропущенные значения в исходных данных; <br>
#2. Политические ошибки; <br>
#3. Географичексие ошибки (f.e. г.Орел - страна США); <br>
#4.(вомзомжно) Ошибки маршрута полетов (ошибки при подсчете количества остановок).